hifi-packetlist {
  display: block;
  height: 60em;
  border: 1px solid black;
  overflow-y: auto;
}
hifi-packet {
  display: block;
  border: 1px solid black;
  background: #cfc;
  margin: .5em;
  padding: .5em;
  width: 50%;
}
hifi-packet h3 {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  font-size: 1.2em;
  position: relative;
}
hifi-packet h4 {
  font-size: .8em;
  font-weight: normal;
  margin: 0;
}
hifi-packet.receiving {
  margin-left: 10%;
  background: #ccf;
}
hifi-packet .timestamp::before {
  content: 't+';
}
hifi-packet .timestamp {
  position: absolute;
  right: 0;
  font-weight: normal;
}
.packetflags {
  list-style: none;
  margin: 0;
  padding: 0;
}
.packetflags li {
  display: inline-block;
  margin-right: 1em;
}
.packetflags li::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background: red;
  content: ' ';
  vertical-align: middle;
  margin-right: .2em;
}

.packetflags li.selected::before {
  background: green;
}
janus-ui-navigation janus-ui-statusindicator .inner canvas {
  display: none;
}
janus-ui-navigation janus-ui-statusindicator .inner {
  background: white;
  margin: .5em;
  border: 0;
}
janus-ui-navigation janus-ui-statusindicator .inner:after {
  background: url(https://highfidelity.com/static-assets/main/logo-image-only-7ae724b98434583fe624a53bd63983094bb2ddda9976ca8d3e348b17c6955e59.svg);
}
.hifidebug-packetlog hifidebug-packetlist {
  display: block;
  height: 40em;
  overflow-y: auto;
}
hifidebug-packet {
  display: block;
  width: 80%;
  background: rgba(255,255,255,.4);
  margin: .2em 0;
  border: 1px solid #ffffff;
  padding: .2em;
}
hifidebug-packet.receiving {
  background: rgba(0,255,0,.4);
  border: 1px solid #00ff00;
  margin-left: 0%;
}
hifidebug-packet.receiving:hover {
  background: rgba(0,255,0,.2);
}
hifidebug-packet.sending {
  background: rgba(255,180,0,.4);
  border: 1px solid #ff8000;
  margin-left: 15%;
}
hifidebug-packet.sending:hover {
  background: rgba(255,180,0,.2);
}
hifidebug-packet struct-view {
  font-size: .8em;
}
